@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="text-warning font-weight-bold">IntegraKawe</h1>
    <br/>
    <h5>This is a simple student management website</h5>
</div>
